# Default ignored files
/shelf/
/workspace.xml
misc.xml
*.iml
.idea/

# Ignore files in dat and res, but not the directories themselves
dat/*
res/*

# Exclude .gitkeep files so they can be added to the repository
!.gitkeep
